<div class="container">
  <form class="example-form loginPanel">
    <mat-form-field class="example-full-width">
      <mat-label>Введите логин</mat-label>
      <input type="text" matInput placeholder="Логин" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Введите пароль</mat-label>
      <input type="password" matInput placeholder="Пароль" value="">
    </mat-form-field>
    <button mat-flat-button color="primary">Войти</button>
  </form>
</div>
