<nav class="mainMenu">
  <button class="btn" mat-button routerLink="/home">Главная</button>
  <button class="btn" mat-button routerLink="/tasks">Задачи</button>
  <button class="btn" mat-button [matMenuTriggerFor]="menu">Тема</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Color 1</button>
    <button mat-menu-item>Color 2</button>
    <button mat-menu-item>Color 3</button>
    <button mat-menu-item>Color 4</button>
  </mat-menu>
  <button class="btn logoutButton :root" routerLink="/" (click)="out.logout()" mat-button>Выйти</button>
</nav>

<div class="mainContainer">
  <router-outlet></router-outlet>
</div>


<div class="bottom">

</div>

