  $deepPurple: #673ab7;
  $indigo: #3f51b5;
  $pink: #e91e63;
  $purple: #9c27b0;
  $col:  #3f51b5;


html, body {
  height: 100%;
}

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 620px;
}

.mainMenu{
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  height: 60px;
  width: 100%;
  background-color: $col;
  text-align: center;
  padding: .5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.btn{
  color: #ffffff;
  font-size: 14pt;
  width: 200px;
}

.page-header{
  height: 60px;
  text-align: center;
  background-color: $col;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
}

.taskContainer{
  width: 400px;
  margin: 1rem;
  background-color: #efefef;
}

.createTaskPanel{
  display: flex;
  flex-direction: row;
}

.example-form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 1rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  padding: .5rem;
  background-color: #efefef;
}

@media screen and (max-width: 620px) {
  .createTaskPanel{
    flex-direction: column;
  }
}
