<div class="page-header">
  <h1 class="page-title">Добро пожаловать</h1>
</div>

<div class="welcome">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, consequuntur deleniti, deserunt dicta distinctio dolor doloribus facere laboriosam libero maxime minima molestias placeat quam quasi reiciendis sed. Exercitationem, praesentium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, consequuntur deleniti, deserunt dicta distinctio dolor doloribus facere laboriosam libero maxime minima molestias placeat quam quasi reiciendis sed. Exercitationem, praesentium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, consequuntur deleniti, deserunt dicta distinctio dolor doloribus facere laboriosam libero maxime minima molestias placeat quam quasi reiciendis sed. Exercitationem, praesentium.</p>
</div>
