<div class="page-header">
  <h1 class="page-title">Задачи</h1>
</div>

<div>
  <button mat-flat-button color="primary" class="createTaskButton" (click)="createTask()">Создать новое задание</button>
</div>

<div class="createTaskPanel">
  <div>
    <mat-card class="taskContainer" *ngFor="let task of tasks">
      <mat-card-title>{{task.title}}</mat-card-title>
      <mat-card-content>Проверять каждые {{task.interval}} минут</mat-card-content>
    </mat-card>
  </div>

 <div>
   <form [formGroup]="form" class="example-form modal" [ngStyle]="{visibility: visibility}">
     <mat-form-field class="example-full-width">
       <mat-label>Введите название товара</mat-label>
       <input formControlName="title" matInput placeholder="Ключевые слова" value="12345">
     </mat-form-field>

     <mat-form-field class="example-full-width">
       <mat-label>Введите интервал поиска</mat-label>
       <input formControlName="interval" matInput placeholder="Время в минутах от 5 до 3600" value="54321">
     </mat-form-field>
     <button mat-flat-button color="primary" *ngIf="form.get('title').valid && form.get('interval').valid" (click)=addTask()>Добавить задачу</button>
   </form>
 </div>
</div>



